<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>UTILISATEURS</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_pharmacy.entite.users.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>PRESTATIONS</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_pharmacy.ordonnances.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>PATIENTS</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_pharmacy.ordonnances.unscoped.select(:adherent_id).uniq.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Ajourd'hui</span>
          <h5>MONTANT ENGAGÉ</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_pharmacy.montant_engage(Date.today).to_s(:delimited, delimiter: ' ') %> F CFA</h1>
          <small>pour pharmacies</small>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Depuis ouverture</span>
          <h5>MONTANT ENGAGÉ</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_pharmacy.montant_engage.to_s(:delimited, delimiter: ' ') %> F CFA</h1>
          <small>pour pharmacies</small>
        </div>
      </div>
    </div>
  </div>

</div>
