<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>NOMBRE D'UTILISATEURS</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_structure_assurance.structure.entite.users.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>ADHÉRENTS</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_structure_assurance.adherents.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>ACTES MÉDICAUX</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_structure_assurance.consultations.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>PRESTATION PHARMACIES</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_structure_assurance.ordonnances.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Aujourd'hui</span>
          <h5>MONTANT PAYÉ</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_structure_assurance.total_a_verser_pharmacies(Date.today).to_s(:delimited, delimiter: ' ') %> F CFA</h1>
          <small>pour pharmacies</small>
          <h1 class="no-margins"><%= current_structure_assurance.total_a_verser_structure_sanitaires(Date.today).to_s(:delimited, delimiter: ' ') %> F CFA</h1>
          <small>pour structures sanitaires</small>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Depuis ouverture</span>
          <h5>MONTANT PAYÉ</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= current_structure_assurance.total_a_verser_pharmacies.to_s(:delimited, delimiter: ' ') %> F CFA</h1>
          <small>pour pharmacies</small>
          <h1 class="no-margins"><%= current_structure_assurance.total_a_verser_structure_sanitaires.to_s(:delimited, delimiter: ' ') %> F CFA</h1>
          <small>pour structure sanitaire</small>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
      <div class="col-lg-6">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Pie Chart Example</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="fa fa-wrench"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href="#">Config option 1</a>
                          </li>
                          <li><a href="#">Config option 2</a>
                          </li>
                      </ul>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="flot-chart">
                      <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
