<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>nombre de micro assurance</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= MicroAssurance.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>nombre de mutuelles</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= Mutuelle.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>nombre d'utilisateurs</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= User.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>nombre d'adhérents</h5>
        </div>
        <div class="ibox-content text-right">
          <h1 class="no-margins"><%= Adherent.count %></h1>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!--<span class="label label-success pull-right">Depuis ouverture</span>-->
          <h5>Ordonnances</h5>
        </div>
        <div class="ibox-content text-right">
          <div class="row">
            <div class="col-md-4">
              <h1 class="no-margins"><%= Ordonnance.count %></h1>
              <small>ordonnances</small>
            </div>
            <div class="col-md-8">
              <h1 class="no-margins"><%= Ordonnance.montant_total.to_s(:delimited, delimiter: ' ') %> F CFA</h1>
              <small>montant total</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!--<span class="label label-success pull-right">Depuis ouverture</span>-->
          <h5>Actes médicaux</h5>
        </div>
        <div class="ibox-content text-right">
          <div class="row">
            <div class="col-md-4">
              <h1 class="no-margins"><%= Consultation.count %></h1>
              <small>actes médicaux</small>
            </div>
            <div class="col-md-8">
              <h1 class="no-margins"><%= Consultation.montant_total.to_s(:delimited, delimiter: ' ') %> F CFA</h1>
              <small>montant total</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>