<%= titre_page 'Liste des Micro assurance' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_micro_assurance_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Numéro agrément</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @micro_assurances.each do |micro_assurance| %>
                  <% micro = micro_assurance.structure_assurance %>
                  <tr>
                    <td><%= micro.nom %></td>
                    <td><%= micro.numero_agrement %></td>
                    <td><%= link_to 'Show', micro_assurance %></td>
                    <td><%= link_to 'Edit', edit_micro_assurance_path(micro_assurance) %></td>
                    <td><%= link_to 'Destroy', micro_assurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>