<%= titre_page 'Liste des Micro assurance' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_micro_assurance_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Numéro agrément</th>
                <th>Actif ?</th>
                <th>Date d'adhésion</th>
                <th>Date de création</th>
                <th>Action</th>
              </tr>
              </thead>

              <tbody>
                <% @micro_assurances.each do |micro_assurance| %>
                  <% structure_assurance = micro_assurance.structure_assurance %>
                  <tr>
                    <td><%= link_to structure_assurance.nom, micro_assurance %></td>
                    <td><%= structure_assurance.numero_agrement %></td>
                    <td><%= afficher_etat structure_assurance.actif? %></td>
                    <td><%= structure_assurance.date_adhesion %></td>
                    <td><%= structure_assurance.created_at %></td>
                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                  </tr>
                <% end %>
              </tbody>
              <%= paginate @micro_assurances %>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>