<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Medicaments </h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a class="close-link">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">

    <div class="table-responsive">
      <table class="table table-striped myTable">
        <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Reference</th>
          <th>Status</th>
          <th>Created at</th>
          <th>Update</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody class="medicament_table">
        <% @medicaments.each do |medicament| %>
            <tr>
              <td><%= link_to "##{medicament.id}", '#', class: 'consultLink' %></td>
              <td><%= medicament.nom %></td>
              <td><%= medicament.actif? %></td>
              <td><%= medicament.created_at %></td>
              <td><%= medicament.updated_at %></td>
              <td><%= link_to 'Edit', '#' %></td>
              <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="actions_bouton">
        <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, '#', class: 'btn btn-primary addMedicament' %>
      </div>
    </div>
  </div>
</div>