<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <%= render 'groupes' %>
    </div>
    <div class="col-lg-6">
      <%= render 'medicaments' %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <%= render 'type_acte_medicals' %>
    </div>
    <div class="col-lg-6">
      <%= render 'tags' %>
    </div>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <%= render 'categorie_acte_medicals' %>
    </div>
    <div class="col-lg-6">

    </div>
  </div>
</div>

<%= render 'modal' %>
<%= javascript_include_tag 'parametre_groupe' %>