<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Invoice</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="col-sm-6">
          </div>

          <div class="col-sm-6 text-right">
            <p>
              <span><strong>Date consultance:</strong> <%= Time.now.strftime("%A, %d %b %Y %l:%M %p") %></span><br>
            </p>
          </div>
        </div>
        <div class="table-responsive m-t">
          <%= bootstrap_form_for([@adherent, @consultation]) do |f| %>
              <p>
                <%= @consultation.description %>
                <%= f.hidden_field :description %>
                <%= f.hidden_field :montant %>
              </p>
              <hr/>
        </div>

        <table class="table invoice-total">
          <tbody>
          <tr>
            <td><strong>Montant :</strong></td>
            <td><%= @consultation.montant %>F CFA</td>
          </tr>
          </tbody>
        </table>
        <div class="text-right">
          <%= f.button 'Valider ordonnance', class: 'btn btn-primary' %>
          <%= link_to 'Annuler', @adherent, class: 'btn btn-white' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>