<%= titre_page 'Liste des consultations' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Description</th>
                <th>Montant total</th>
                <th>Montant pris en charge</th>
                <th>Montant payé par adhérent</th>
                <th>Type categorie medical</th>
                <th>Adherent</th>
                <% if current_user.user_system? %>
                    <th>Pharmacy</th>
                <% end %>
              </tr>
              </thead>

              <tbody>
              <% @consultations.each do |consultation| %>
                  <tr>
                    <td><%= link_to "##{consultation.id}", consultation, class: 'ordLink' %></td>
                    <td><%= link_to consultation.description.truncate(20), '#', data: {toggle: :popover, content: consultation.description} %></td>
                    <td><%= consultation.montant_total %> F CFA</td>
                    <td><%= consultation.montant_pris_en_charge %> F CFA</td>
                    <td><%= consultation.montant_paye_par_adherent %> F CFA</td>
                    <td><%= consultation.type_acte_medical.nom %></td>
                    <td><%= consultation.adherent.full_name %> (<%= link_to consultation.adherent.matricule, consultation.adherent %>)</td>
                    <% if current_user.user_system? %>
                        <td><%= consultation.formation_sanitaire.title %></td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<%= render 'adherents/modal' %>