<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @consultation.description %>
</p>

<p>
	<strong>Origine:</strong>
	<%= @consultation.origine %>
</p>

<p>
	<strong>Date référencement:</strong>
	<%= @consultation.date_referencement.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @consultation.montant_total %>
</p>

<p>
  <strong>Type catégorie médical:</strong>
  <%= @consultation.type_categorie_medical_id %>
</p>

<p>
  <strong>Adhérent:</strong>
  <%= @consultation.adherent_id %>
</p>

<p>
  <strong>Pharmacie:</strong>
  <%= @consultation.pharmacy_id %>
</p>

<%= link_to 'Modifier', edit_consultation_path(@consultation) %> |
<%= link_to 'Retour', consultations_path %>
