<%= titre_page 'Liste des utilisateurs' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_user_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Emails</th>
                <th>Rôles</th>
                <th>Entités</th>
                <th>Date création</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              <% @users.each do |user| %>
                  <tr>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td><%= user.entite.try :title %></td>
                    <td><%= user.created_at %></td>
                    <td><%= link_to 'modifier', edit_user_path(user) %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <%= paginate @users %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
