<%= titre_page 'Liste des Structures apéritrices' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_structure_aperitrice_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Adresse</th>
                  <th>Date adhésion</th>
                </tr>
              </thead>

              <tbody>
                <% @structure_aperitrices.each do |structure_aperitrice| %>
                  <tr>
                    <td><%= link_to structure_aperitrice.nom, structure_aperitrice %></td>
                    <td><%= structure_aperitrice.adresse %></td>
                    <td><%= structure_aperitrice.date_adhesion %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @structure_aperitrices %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
