<%= titre_page "Structure apéritrice : #{@structure_aperitrice.nom}" %>
<% structure_aperitrice = @structure_aperitrice %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Détails</h5>
        </div>
        <div>
          <div class="ibox-content no-padding border-left-right">
            <img alt="image" class="img-responsive" src="http://lorempixum.com/100/100">
          </div>
          <div class="ibox-content profile-content">
            <h4><strong><%= structure_aperitrice.nom %></strong></h4>
            <p><i class="fa fa-map-marker"></i> <%= structure_aperitrice.adresse %></p>
            <h5>
              About me
            </h5>
            <p>
              <strong>date d'adhésion : </strong><%= structure_aperitrice.date_adhesion %> <br/>
              <strong>date de création : </strong><%= structure_aperitrice.created_at %> <br/>
            </p>
            <div class="user-button">
              <div class="row">
                <div class="col-md-6">
                  <%= link_to '<i class="fa fa-edit"></i> modifier'.html_safe, edit_structure_aperitrice_path(@structure_aperitrice), class: 'btn btn-default btn-sm btn-block' %>
                </div>
                <div class="col-md-6">
                  <%= link_to 'Back', structure_aperitrices_path, class: 'btn btn-default btn-sm btn-block'  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Contacts</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <% for contact in structure_aperitrice.contacts %>
                <%= render 'contacts/show_bloc', contact: contact %>
            <% end %>
          </div>
          <div class="text-right">
            <%= link_to '<strong>Ajouter un contact</strong>'.html_safe, new_contact_path(structure_aperitrice.class, structure_aperitrice.id, url_back: structure_aperitrice_path(@structure_aperitrice)), class: 'btn btn-sm btn-primary m-t-n-xs' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
