<%= titre_page "Structure apéritrice : #{@structure_aperitrice.nom}" %>
<% structure_aperitrice = @structure_aperitrice %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Détails</h5>
        </div>
        <div>
          <div class="ibox-content profile-content">
            <h4><strong><%= structure_aperitrice.nom %></strong></h4>
            <p><i class="fa fa-map-marker"></i> <%= structure_aperitrice.adresse %></p>
            <h5>
              A propos
            </h5>
            <p>
              <strong>date d'adhésion : </strong><%= structure_aperitrice.date_adhesion %> <br/>
              <strong>date de création : </strong><%= structure_aperitrice.created_at %> <br/>
            </p>
            <div class="user-button">
              <div class="row">
                <div class="col-md-6">
                  <%= link_to '<i class="fa fa-edit"></i> modifier'.html_safe, edit_structure_aperitrice_path(@structure_aperitrice), class: 'btn btn-default btn-sm btn-block' %>
                </div>
                <div class="col-md-6">
                  <%= link_to 'Retour', structure_aperitrices_path, class: 'btn btn-default btn-sm btn-block'  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Contacts</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <% for contact in structure_aperitrice.contacts %>
                <%= render 'contacts/show_bloc', contact: contact %>
            <% end %>
          </div>
          <div class="text-right">
            <%= link_to '<strong>Ajouter un contact</strong>'.html_safe, new_contact_path(structure_aperitrice.class, structure_aperitrice.id, url_back: structure_aperitrice_path(@structure_aperitrice)), class: 'btn btn-sm btn-primary m-t-n-xs' %>
          </div>
        </div>
      </div>

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Groupements</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Noms</th>
                  <th width="75px">Nb adhérents</th>
                </tr>
                </thead>

                <tbody>
                <% for groupe in @structure_aperitrice.groupes %>
                    <tr>
                      <td><%= groupe.nom %></td>
                      <td><%= groupe.adherents.count %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
