<%#= simple_form_for(@structure_assurance, html: {class: 'form-horizontal'},  wrapper: :horizontal_form,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    }) do |f| %>
<%#= f.error_notification %>

<!--<div class="form-inputs">-->
<%= f.fields_for :structure_assurance do |structure_form| %>
    <%= structure_form.hidden_field :id %>
    <%= structure_form.text_field :nom %>
    <%= structure_form.text_field :adresse %>
    <%= structure_form.date_field :date_adhesion %>
    <%= structure_form.text_field :numero_agrement %>
    <%= structure_form.file_field :logo %>
    <%= structure_form.text_field :couleur, wrapper_class: :couleur %>
<% end %>
<!--</div>-->

<!--<div class="form-group">-->
<!--<div class="col-sm-offset-3 col-sm-9">-->
<!--<%= f.button :submit %>-->
<!--</div>-->
<!--</div>-->
<%# end %>