<%= titre_page 'Liste des Formations sanitaires' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
					<div class="row">
						<div class="col-sm-12">
							<%= search_form_for @search, {:class => 'navbar-form-custom'} do |f| %>
								<div class="form-group" >
									<%= f.search_field :structure_sanitaire_nom_cont,
																		 {:class => 'form-control', :placeholder => 'Faites votre recherche ici...'} %>
								</div>
							<% end %>
						</div>
					</div>
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_formation_sanitaire_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Actif ?</th>
                  <th>Date d'adhésion</th>
                </tr>
              </thead>

              <tbody>
                <% @formation_sanitaires.each do |formation_sanitaire| %>
                  <% formation = formation_sanitaire.structure_sanitaire %>
                  <tr>
                    <td><%= link_to formation.nom, formation_sanitaire %></td>
                    <td><%= afficher_etat formation.actif? %></td>
                    <td><%= formation.date_adhesion %></td>
                  </tr>
                <% end %>
              </tbody>
              <%= paginate @formation_sanitaires %>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>