<div class="col-lg-6">
  <div class="contact-box">
    <div class="col-sm-12">
      <h3><strong><%= contact.full_name %></strong></h3>
      <p>
        <strong><%= contact.titre %></strong>
      </p>
      <p><i class="fa fa-envelope"></i> <%= contact.email %></p>
      <address>
        <%= contact.adresse %> <br/>
        <abbr title="Phone">P:</abbr> <%= contact.telephone %>
      </address>
    </div>
    <div class="clearfix"></div>
  </div>
</div>