<%= titre_page 'Liste des mutuelles' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <%= search_form_for @search, html: { class: 'form-inline' } do |f| %>
                  <div class="row">
                    <div class="form-group col-sm-3">
                      <%= f.label :structure_assurance_nom_cont, 'Nom' %>
                      <%= f.search_field :structure_assurance_nom_cont, class: 'form-control' %>
                    </div>
                    <div class="form-group col-sm-3">
                      <%= f.label :structure_assurance_numero_agrement_cont, 'Numéro agrément' %>
                      <%= f.search_field :structure_assurance_numero_agrement_cont, class: 'form-control' %>
                    </div>
                  </div>
                  <br/>
                  <%= f.submit 'Rechercher', class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_mutuelle_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Numéro agrément</th>
                <th>Actif ?</th>
                <th>Date d'adhésion</th>
                <th>Date de création</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <% @mutuelles.each do |mutuelle| %>
                  <% structure_assurance = mutuelle.structure_assurance %>
                  <tr>
                    <td><%= link_to structure_assurance.nom, mutuelle %></td>
                    <td><%= structure_assurance.numero_agrement %></td>
                    <td><%= afficher_etat structure_assurance.actif? %></td>
                    <td><%= structure_assurance.date_adhesion %></td>
                    <td><%= structure_assurance.created_at %></td>
                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                  </tr>
              <% end %>
              </tbody>
              <%= paginate @mutuelles %>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
