<% if current_user.user_formation_sanitaire? or current_user.user_system? or current_user.administrateur? %>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>5 dernières consultations</h5>
      </div>

      <div class="ibox-content">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>Centre de santé</th>
                <th>Type</th>
                <th>Montant Total</th>
                <th>Imprimer</th>
              </tr>
              </thead>

              <tbody>
							<% for consultation in @adherent.consultations.limit(5) %>
								<tr>
									<td><%= link_to "##{consultation.id}", [@adherent, consultation], class: 'ordLink' %></td>
									<td><%= consultation.created_at %></td>
									<td><%= consultation.formation_sanitaire.title %></td>
									<td><%= consultation.type_acte_medical.nom %></td>
									<td><%= consultation.montant_total %></td>
									<td><%= link_to '<i class="fa fa-print"></i>'.html_safe, consultation_facture_path(consultation), {target: '_blank'} %></td>
								</tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-right">
          <%= link_to '<strong>Ajouter une consultation</strong>'.html_safe, new_adherent_consultation_path(@adherent), class: 'btn btn-sm btn-primary m-t-n-xs' %>
					<%= link_to '<strong>Voir plus</strong>'.html_safe, adherent_consultations_path(@adherent), class: 'btn btn-sm btn-primary m-t-n-xs' %>
        </div>
      </div>
    </div>

<% end %>
