<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Détails</h5>
  </div>
  <div>
    <div class="ibox-content no-padding border-left-right">
      <img alt="image" class="img-responsive" src="<%= image_path(@adherent.avatar.url) %>">
    </div>
    <div class="ibox-content profile-content">
      <h4><strong><%= @adherent.full_name %></strong></h4>
      <p><i class="fa fa-map-marker"></i> <%= @adherent.default_contact.adresse %></p>
      <h5>
        A propos #<%= @adherent.matricule %>
      </h5>
      <p>
        <strong>Matricule:</strong>
        <%= @adherent.matricule %>
        <br/>

        <strong>Nom:</strong>
        <%= @adherent.nom %>
        <br/>

        <strong>Pr&eacute;nom:</strong>
        <%= @adherent.prenom %>
        <br/>

        <strong>Statut matrimonial:</strong>
        <%= Adherent::MATRIMONIAL.index(@adherent.status_matrimonial) %>
        <br/>

        <strong>Date de naissance:</strong>
        <%= @adherent.date_de_naissance %>
        <br/>

        <strong>Lieu de naissance:</strong>
        <%= @adherent.lieu_de_naissance %>
        <br/>

        <strong>T&eacute;l&eacute;phone:</strong>
        <%= @adherent.default_contact.telephone %>
        <br/>

        <strong>Email:</strong>
        <%= @adherent.default_contact.email %>
        <br/>

        <strong>Sexe:</strong>
        <%= Adherent::SEXE.index(@adherent.sexe) %>
        <br/>

        <strong>Statut:</strong>
        <%= Adherent::STATUS.index(@adherent.status) %>
        <br/>

      </p>
      <% if current_user.user_structure_assurance? or current_user.admin_system? %>
          <div class="user-button">
            <hr/>
            <% if current_user.user_structure_assurance? %>
                <% if @adherent.status == 2 %>
                    <%= link_to 'Desactiver',
                                desactiver_adherent_path(@adherent),
                                :class => 'btn btn-sm btn-danger',
                                method: :post %>
                <% else %>
                    <%= link_to 'Activer',
                                activer_adherent_path(@adherent), :class => 'btn btn-sm btn-success',
                                method: :post
                    %>
                <% end %>
                <%= link_to '<i class="fa fa-edit"></i> modifier'.html_safe, edit_adherent_path(@adherent), class: 'btn btn-default btn-sm' %>
            <% end %>
            <%= link_to '<i class="fa fa-print"></i> Imprimer'.html_safe, adherent_carte_assurance_adherent_path(@adherent), class: 'btn btn-sm btn-default' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
