<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'impression', media: 'print', 'data-turbolinks-track' => true %>
<style type="text/css">
    * {
        -webkit-print-color-adjust: exact;
    }
</style>

<div class="">

  <% @adherents.each do |adherent| %>
      <% structure_assurance = adherent.structure_assurance %>
      <div class="bloc">
        <div>
          <div class="row" style="margin-top: 5%">
            <div class="col-md-12">
              <div class="col-xs-3 col-md-2" style="float: left;">
								<img alt="image" class="avatar" src="<%= image_path(structure_assurance.logo.url) %>">
              </div>
              <div class="col-xs-6 col-md-2">
								<h2 class="carte">Carte de santé</h2>
								<h3 class="sous_carte" style="margin-left: -0.1em"><span class="mini_titre">Numéro adhérent</span>: <%= adherent.matricule %></h3>
              </div>
              <div class="col-xs-3 col-md-2" style="float: right;">
								<img alt="image" class="avatar2" src="<%= image_path(adherent.avatar.url) %>">
              </div>
            </div>
          </div>
          <br/>
          <div class="col-sm-6"  style="float: left">
						<p class="line">Souscripteur.... <span class="titre"></span></p><br/>
						<p class="line">Nom: <span class="titre"><%= adherent.full_name %></span></p><br/>
						<p class="line">Date et lieu de naissance:
							<span class="titre"><%= adherent.date_de_naissance.strftime('%d-%m-%Y') %></span>
						</p><br/>
						<p class="line">Valable du
							<span class="titre"><%= adherent.souscription_en_cours.date_activation.strftime('%d-%m-%Y') %></span>
							au
							<span class="titre"><%= adherent.souscription_en_cours.date_expiration.strftime('%d-%m-%Y') %></span>
						</p><br/>
          </div>
          <div class="col-sm-6"  style="margin-left: 3cm">
            <p class="line">Produit souscrit:
							<span class="titre">
								<% if adherent.formule_en_cours %>
                    <%= adherent.formule_en_cours.nom %>
                <% else %>
                    <%= adherent.souscriptions.last %>
                <% end %>
							</span> </p>
            <p class="line">Taux de prise en charge: <span class="titre"><%= 100 - adherent.formule_en_cours.ticket_moderateur %>%</span></p>
            <p class="line">Ticket modérateur: <span class="titre"><%= adherent.formule_en_cours.ticket_moderateur %>%</span></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
  <% end %>

</div>
<script type="text/javascript">
    window.print();
</script>
