<%= simple_form_for(@adherent) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="form-group">
        <label class="control-label" for="parrain">Parrain</label>
        <input class="string form-control" id="parrain" name="parrain" value="<%= @adherent.parrain.matricule if @adherent.parrain %>" type="text">
      </div>
      <%= f.input :parrain_id, :as => :hidden %>
      <%= f.input :affiliation, collection: Adherent.affiliations.keys%>
      <%= f.file_field :avatar %>
      <%= f.input :nom %>
      <%= f.input :prenom %>
      <%= f.input :sexe, collection: Adherent::SEXE %>
      <%= f.input :status_matrimonial, collection: Adherent::MATRIMONIAL %>
      <%= f.input :date_de_naissance, :as => :date_picker %>
      <%= f.input :lieu_de_naissance %>
      <%= f.input :adresse %>
      <%= f.input :telephone1 %>
      <%= f.input :telephone2 %>
      <%= f.input :montant_cotisation %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();

    $('#parrain').autocomplete({
        minLength: 7,
        source: function(request, response) {
            $.ajax({
                url: "/wservices/adherent",
                method: 'post',
                dataType: "json",
                data: {matricule: request.term},
                success: function( data ) {
                    console.log(data);
                    response( $.map( data, function( item ) {
                        //alert(item.label);
                        return {
                            label: item.matricule+', '+item.prenom+' '+item.nom,
                            value: item.matricule+', '+item.prenom+' '+item.nom,
                            id: item.id
                        }
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#adherent_parrain_id").val(ui.item.id);  // ui.item.value contains the id of the selected label
            $("#parrain").val(ui.item.label);
            return false;
        }
    });
</script>