<p id="notice"><%= notice %></p>
<% if @adherent.status == 2 %>
    <%= link_to t('Desactiver', :default => 'Desactiver'),
                desactivate_adherent_path(@adherent),
                :class => 'btn btn-mini btn-danger',
                method: :post %>
<% else %>
    <%= link_to t('Activer', :default => 'Activer'),
                activate_adherent_path(@adherent), :class => 'btn btn-mini btn-success ',
                method: :post
    %>
<% end %>
<p>
  <%= image_tag @adherent.avatar.url(:medium) %>
</p>

<p>
  <strong>Matricule:</strong>
  <%= @adherent.matricule %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @adherent.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @adherent.prenom %>
</p>

<p>
  <strong>Status matrimonial:</strong>
  <%= Adherent::MATRIMONIAL.index(@adherent.status_matrimonial) %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @adherent.date_de_naissance %>
</p>

<p>
  <strong>Lieu de naissance:</strong>
  <%= @adherent.lieu_de_naissance %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @adherent.default_contact.adresse %>
</p>

<p>
  <strong>Telephone1:</strong>
  <%= @adherent.default_contact.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @adherent.default_contact.email %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= Adherent::SEXE.index(@adherent.sexe) %>
</p>

<p>
  <strong>Status:</strong>
  <%= Adherent::STATUS.index(@adherent.status) %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @adherent.payer %>
</p>

<p>
  <strong>Last activation:</strong>
  <%= @adherent.last_activation %>
</p>

<p>
  <strong>Last suspension:</strong>
  <%= @adherent.last_suspension %>
</p>

<p>
  <strong>Last delete:</strong>
  <%= @adherent.last_delete %>
</p>

<p>
  <strong>Paiement date:</strong>
  <%= @adherent.paiement_date %>
</p>

<%= link_to 'Edit', edit_adherent_path(@adherent) %> |
<%= link_to 'Back', adherents_path %>
