<%= titre_page "Adherent : #{@adherent.matricule} #{"(ticket modérateur : #{@adherent.souscriptions.en_cours.last.formule.ticket_moderateur} %)" unless @adherent.souscriptions.en_cours.empty?}" %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-12">
      <%= render 'adherents/alerte_cotisation' %>
    </div>
    <div class="col-md-4">
      <%= render 'adherents/details' %>
    </div>

    <div class="col-md-8">
      <%= render 'adherents/souscriptions' %>
      <%= render 'adherents/ordonnances' %>
      <%= render 'adherents/consultations' %>
      <%= render 'adherents/contacts' %>
      <%= render 'adherents/filleuls' %>
    </div>
  </div>
</div>

<%= render 'adherents/modal' %>
