<%= titre_page 'Liste des formules' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_formule_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Montant adhésion</th>
                <th>Montant cotisation</th>
                <th>Ticket modérateur</th>
                <th>Période</th>
                <th>Occurrence période</th>
              </tr>
              </thead>

              <tbody>
              <% @formules.each do |formule| %>
                  <tr>
                    <td><%= link_to formule.nom, formule %></td>
                    <td><%= formule.montant_adhesion %></td>
                    <td><%= formule.montant_cotisation %></td>
                    <td><%= formule.ticket_moderateur %> %</td>
                    <td><%= formule.periode %></td>
                    <td><%= formule.occurrence_periode %></td>
                  </tr>
              <% end %>
              <%= paginate @formules %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
