<%= bootstrap_form_for(@ordonnance, :url => confirm_adherent_ordonnances_path(@adherent)) do |f| %>
    <% if @ordonnance.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @ordonnance.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= render 'detail_ordonnances/form', :f => f %>

    <div class="col-sm-4 col-sm-offset-2">
      <%= f.button 'Ajouter', class: 'btn btn-primary' %>
      <%= link_to_add_fields "<button class='btn btn-primary'>Add Ligne</button>".html_safe, f, :detail_ordonnances %>
      <%= link_to 'Annuler', @adherent, class: 'btn btn-white' %>
    </div>
<% end %>
