<%= titre_page 'Liste des ordonnances' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Montant total</th>
                <th>Montant pris en charge</th>
                <th>Montant payé par adhérent</th>
                <th>Adherent</th>
                <% if current_user.user_system? %>
                    <th>Pharmacy</th>
                <% end %>
                <th>Dates</th>
              </tr>
              </thead>

              <tbody>
              <% @ordonnances.each do |ordonnance| %>
                  <tr>
                    <td><%= link_to "##{ordonnance.id}", ordonnance, class: 'consultLink' %></td>
                    <td><%= ordonnance.montant_total %> F CFA</td>
                    <td><%= ordonnance.montant_pris_en_charge %> F CFA</td>
                    <td><%= ordonnance.montant_paye_par_adherent %> F CFA</td>
                    <td><%= ordonnance.adherent.full_name %> (<%= link_to ordonnance.adherent.matricule, ordonnance.adherent %>)</td>
                    <% if current_user.user_system? %>
                        <td><%= ordonnance.pharmacy %></td>
                    <% end %>
                    <td><%= ordonnance.created_at %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<%= render 'adherents/modal' %>