<%= titre_page 'Prevu Pay - Les versements' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter un versement'.html_safe, new_versement_versements_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Adhérent</th>
                <th>Mandataire</th>
                <th>Montant</th>
                <th>Dates</th>
              </tr>
              </thead>

              <tbody>
              <% @versements.each do |versement| %>
                  <tr>
                    <td><%= "#{versement.compte.proprietaire.full_name} (#{link_to(versement.compte.proprietaire.matricule, versement.compte.proprietaire)})".html_safe %></td>
                    <td><%= versement.mandataire.try(:full_name) %></td>
                    <td><%= versement.montant.to_s(:delimited, delimiter: ' ') %> F CFA</td>
                    <td><%=l versement.created_at %></td>
                  </tr>
              <% end %>
              <%= paginate @versements %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>