<p id="notice"><%= notice %></p>

<h1>Listing Versements</h1>

<table>
  <thead>
    <tr>
      <th>Compte</th>
      <th>Mandataire</th>
      <th>Montant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @versements.each do |versement| %>
      <tr>
        <td><%= versement.compte %></td>
        <td><%= versement.mandataire %></td>
        <td><%= versement.montant %></td>
        <td><%= link_to 'Show', versement %></td>
        <td><%= link_to 'Edit', edit_versement_path(versement) %></td>
        <td><%= link_to 'Destroy', versement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Versement', new_versement_path %>
