<%= bootstrap_form_for(@medicament, layout: :horizontal) do |f| %>
    <% if @medicament.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @medicament.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.text_field :nom %>
    <%= f.text_field :reference %>


    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <%= link_to 'Annuler', medicaments_path, class: 'btn btn-white' %>
        <%= f.button 'Ajouter', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
