<%= titre_page "Groupe : #{@groupe.nom}" %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Détails</h5>
        </div>
        <div>
          <div class="ibox-content no-padding border-left-right">
            <img alt="image" class="img-responsive" src="http://lorempixum.com/100/100">
          </div>
          <div class="ibox-content profile-content">
            <h4><strong><%= @groupe.nom %></strong></h4>
            <div class="user-button">
              <div class="row">
                <div class="col-md-6">
                  <%= link_to '<i class="fa fa-edit"></i> Modifier'.html_safe, edit_groupe_path(@groupe), class: 'btn btn-default btn-sm btn-block' %>
                </div>
                <div class="col-md-6">
                  <%= link_to 'Retour', groupes_path, class: 'btn btn-default btn-sm btn-block'  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Contacts</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <% for contact in @groupe.contacts %>
                <%= render 'contacts/show_bloc', contact: contact %>
            <% end %>
          </div>
          <div class="text-right">
            <%= link_to '<strong>Ajouter un contact</strong>'.html_safe, new_contact_path(@groupe.class, @groupe.id, url_back: groupe_path(@groupe)), class: 'btn btn-sm btn-primary m-t-n-xs' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
