<%= titre_page "Groupe : #{@groupe.nom}" %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Détails</h5>
        </div>
        <div>
          <div class="ibox-content profile-content">
            <h4><strong><%= @groupe.nom %></strong></h4>
            <p>
              <strong>Structure Apéritrice:</strong>
              <%= @groupe.structure_aperitrice.try(:nom) || '-' %>
              <br/>
            </p>
            <div class="user-button">
              <div class="row">
                <% if current_user.user_system? or current_user.admin_structure_assurance? and current_structure_assurance == @groupe.structure_assurance %>
                    <div class="col-md-6">
                      <%= link_to '<i class="fa fa-edit"></i> Modifier'.html_safe, edit_groupe_path(@groupe), class: 'btn btn-default btn-sm btn-block' %>
                    </div>
                <% end %>
                <div class="col-md-6">
                  <%= link_to 'Retour', groupes_path, class: 'btn btn-default btn-sm btn-block'  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <%= render 'groupes/contacts' %>
      <%= render 'groupes/adherents' %>
    </div>
  </div>
</div>
