<li>
  <%= link_to mutuelles_path do %>
      <i class="fa fa-building-o"></i> <span class="nav-label">Mutuelles</span>
  <% end %>
</li>

<li>
  <%= link_to micro_assurances_path do %>
      <i class="fa fa-building-o"></i> <span class="nav-label">Micro assurance</span>
  <% end %>
</li>

<li>
  <%= link_to pharmacies_path do %>
      <i class="fa fa-medkit"></i> <span class="nav-label">Pharmacies</span>
  <% end %>
</li>

<li>
  <%= link_to formation_sanitaires_path do %>
      <i class="fa fa-medkit"></i> <span class="nav-label">Formations sanitaires</span>
  <% end %>
</li>

<li>
  <%= link_to structure_aperitrices_path do %>
      <i class="fa fa-building-o"></i> <span class="nav-label">Structures Apéritrices</span>
  <% end %>
</li>

<li>
  <%= link_to adherents_path do %>
      <i class="fa fa-user"></i> <span class="nav-label">Adhérents</span>
  <% end %>
</li>

<li>
  <%= link_to versements_path do %>
      <i class="fa fa-bank"></i> <span class="nav-label">PREVU Pay</span>
  <% end %>
</li>

<li>
  <%= link_to medicaments_path do %>
      <i class="fa fa-medkit"></i> <span class="nav-label">Médicaments</span>
  <% end %>
</li>

<li>
  <%= link_to groupes_path do %>
      <i class="fa fa-users"></i> <span class="nav-label">Groupements</span>
  <% end %>
</li>

<li>
  <%= link_to users_path do %>
      <i class="fa fa-user"></i> <span class="nav-label">Utilisateurs</span>
  <% end %>
</li>

<li>
  <%= link_to parametres_path do %>
      <i class="fa fa-wrench"></i> <span class="nav-label">Paramétres</span>
  <% end %>
</li>
