<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <% if current_user %>
                <span class="clear">
                    <span class="block m-t-xs">
                        <strong class="font-bold"><%= current_user.email %></strong>
                    </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                </span>
            <% end %>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          PREVU
        </div>
      </li>
      <% if user_signed_in? %>
          <% if current_user.user_system? %>
              <%= render 'layouts/menu_system' %>
          <% end %>
          <% if current_user.user_mutuelle? %>
              <%= render 'layouts/menu_mutuelle' %>
          <% end %>
          <% if current_user.user_micro_assurance? %>
              <%= render 'layouts/menu_micro_assurance' %>
          <% end %>
          <% if current_user.user_formation_sanitaire? %>
              <%= render 'layouts/menu_formation_sanitaire' %>
          <% end %>
          <% if current_user.user_pharmacie? %>
              <%= render 'layouts/menu_pharmacie' %>
          <% end %>
          <% if current_user.user_structure_aperitrice? %>
              <%= render 'layouts/menu_structure_aperitrice' %>
          <% end %>
      <% end %>
    </ul>

  </div>
</nav>